
.Post-wrapper {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.Post-header {
    width: 100%;
    font-size: 20px;

    font-family: 'Soria', serif;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    border-bottom: 1px black solid;
}

.Post-content {
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px black solid; */
    width: 90%;
    padding: 15px 0px;
    font-size: 20px;
    font-family: 'Open Sans', 'Lato', Verdana, sans-serif;
    word-wrap: break-word;
}

.blog-card {
    display: block;
    width: 100%;
    min-height: 150px;
    padding: 15px;
    background-color: rgb(255, 253, 236);
    border: 1px solid black;
    text-decoration: none;
    color: inherit;
}

.blog-card:hover {
    background-color: rgb(255, 222, 145);
}

.blog-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    text-align: left;
}

.blog-card p {
    margin: 0 0 10px 0;
    line-height: 1.5;
    text-align: left;
}

.blog-card-tags {
    font-weight: bold;
}

.markdown-content a:visited {
  color: blue; /* or a specific color */
}