.Post-wrapper {
    display: flex;
    border: 1px black solid;
}

.Post-header {
    height: 10%;
    width: 100%;
    border: 1px black solid;
}

.Post-content {
    flex: 1;
    border: 1px black solid;
}