.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  color: black;
  /* border: 1px solid rgb(188, 18, 18); */
}

.Site-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 70vw;
  padding: 0 2vw;
  transform: translateX(-50px); /* Shift left by half the sidebar width */

  /* border: 1px rgb(156, 20, 20) solid; */
}

.Sidebar {
  width: 100px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(0, 0, 0);
  transform: translateY(-40%);
}

.Sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  
}

.Sidebar-menu-item {
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  transition: background-color 0.2s;
  width: 100%;
}

.Sidebar-menu-item:hover {
  background-color: rgba(95, 179, 115, 0.888);
}

.Page-Content {
  flex: 1;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5px;

  /* transform: translateY(%); */

  /* border: 1px rgb(0, 0, 0) solid; */
}




