.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(247, 247, 238);
  color: black;

  padding: 20vw 10vh;
  border: 1px solid black;
}

.Sidebar {
  width: 20vw;
  height: 100%;
  border: 1px solid black;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 60vw;
  height: 100%;
  border: 1px solid black;
}

.Header {
  width: 60vw;
  border: 1px solid black;
}

