.Page {
    width: 100%;
    height: 100%;
    /* background-color: blanchedalmond; */
}

.Header {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    align-items: left;
    display: flex;
    align-items: first baseline;

    padding: 0px 40px;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    /* width: 90%; */
    /* border: 1px black solid; */
}

.Page-Content-inner {
    flex: 1;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-y: auto;
    /* border: 1px black solid; */
}

.Project-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 5px;

    padding: 5px;
    height: 100%;
    width: 100%;


}

.Project-list-elem {
    flex: 0 0 28%;
    width: 100%;
    background-color: lightgreen;

    /* border: 1px black solid; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 25px;
}